<div class="wrapper row2">
  <div id="container" class="clear"> 
    <!-- ####################################################################################################### -->
    <div id="content">
      <h1>New Group Transaction</h1>
      
      <%= form_for @group_transaction, url: {action: "create"} do |f| %>
      <%= f.hidden_field(:members) %>
      <p>
	<strong class="one_quarter">Name</strong>
	<%= f.text_field :amount %>
      </p>
      <p>
	<strong class="one_quarter">Reason</strong>
	<%= f.text_field :reason %>
      </p>
      <p>
	<strong class="one_quarter">All group</strong>
	<%= f.check_box :all_group , onclick: "showMembers();" %>
      </p>
      <div class="hide" id="transactionMembers">
	<h2>Members</h2>
	<%- @members.each do |member|%>
	<p><input class="pointer" type="checkbox" id="puppy_gooddog" name="members[<%= member.id%>]" value="<%= member.id %>" />&nbsp;&nbsp;<%= member.user.name %></p>
	<%- end %>
      </div>
      <p>
	<%= f.submit "Create" %>
	<a href="/groups/<%= @group.id %>"class="btn btn primary"> Cancel</a>
      </p>
      <% end %>
    </div>
  </div>
</div>


